<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<header th:replace="~{score/base :: header}"></header>
	<aside th:replace="~{score/base :: aside}"></aside>

	<main>
		<div style="text-align: center;">
			<br>
			<h2>成績参照</h2>
		</div>
		
		<div class="container">
			<div class="row justify-content-center">
	            <div class="card col-md-8">
					<!-- 成績参照 科目別検索フォーム  -->
					<div class="card-body">
						<form th:action="@{/main/test/view/subjectList}" method="post" style="display: flex; align-items: center;">
							<div class="form-row align-items-center">
								<div class="col-auto">
									<h4>科目情報</h4>
								</div>
								<div class="col-auto">
								    <table class="table table-borderless">
								        <thead>
								            <tr>
								                <th>入学年度</th>
								                <th>クラス</th>
								                <th>科目</th>
								            </tr>
								        </thead>
								        <tbody>
								            <tr>
								                <td>
								                    <select id="entYear" name="entYear" class="form-control" style="width: 120px;">
														<option value="" disabled selected>----------</option>
					                                    <option value="2014">2014年</option>
					                                    <option value="2015">2015年</option>
					                                    <option value="2016">2016年</option>
					                                    <option value="2017">2017年</option>
					                                    <option value="2018">2018年</option>
					                                    <option value="2019">2019年</option>
					                                    <option value="2020">2020年</option>
					                                    <option value="2021">2021年</option>
					                                    <option value="2022">2022年</option>
					                                    <option value="2023">2023年</option>
					                                    <option value="2024">2024年</option>
					                                    <option value="2025">2025年</option>
					                                    <option value="2026">2026年</option>
					                                    <option value="2027">2027年</option>
					                                    <option value="2028">2028年</option>
					                                    <option value="2029">2029年</option>
					                                    <option value="2030">2030年</option>
					                                    <option value="2031">2031年</option>
					                                    <option value="2032">2032年</option>
					                                    <option value="2033">2033年</option>
					                                    <option value="2034">2034年</option>
								                    </selectid>
								                </td>
								                <td>
								                    <select id="classNum" name="classNum" class="form-control" style="width: 120px;">
														<option value="" disabled selected>----------</option>
														<option th:each="classNum : ${classNums}" th:value="${classNum.classNum}" th:text="${classNum.classNum}"></option>
								                    </select>
								                </td>
								                <td>
								                    <select id="subjectCd" name="subjectCd" class="form-control" style="width: 180px;">
														<option value="" disabled selected>--------------------</option>
								                        <option th:each="subjectCd : ${subjectCd}" th:value="${subjectCd.subjectCd}" th:text="${subjectCd.subjectCd}"></option>
								                    </select>
								                </td>
								            </tr>
								        </tbody>
								    </table>
								</div>
								<div class="col-auto">
							    	<button type="submit" class="btn btn-primary">検索</button>
								</div>
							</div>
						</form>
					</div>
					<hr>
					<!-- 成績参照 学生別検索フォーム -->
					<div class="card-body">
						<form th:action="@{/main/test/view/studentList}" method="post" style="display: flex; align-items: center;">
							<div class="form-row align-items-center">
								<div class="col-auto">
									<h4>学生情報</h4>
								</div>
								<div class="col-auto">
									<table class="table table-borderless">
								        <thead>
								            <tr>
								                <th>学生番号</th>
								            </tr>
								        </thead>
								        <tbody>
								            <tr>
								                <td>
								                    <input type="text" id="studentNo" name="studentNo" class="form-control" style="width: 250px;" placeholder="学生番号を入力してください">
								                </td>
								            </tr>
								        </tbody>
								    </table>
								</div>
								<div class="col-auto">
							    	<button type="submit" class="btn btn-primary">検索</button>
								</div>						
							</div>
						</form>
					</div>
	            </div>
			</div>
		</div>
		
		<!-- 科目別成績の一覧 -->
		<div class="container" th:if="${isSubjectSearch}">
	        <h5>科目:<span th:text="${subjectName}"></span></h5>
	        <table class="table table-bordered" style="box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
	            <thead>
		            <tr class="table-primary">
		                <th>入学年度</th>
		                <th>クラス番号</th>
		                <th>学生番号</th>
		                <th>氏名</th>
		                <th>第1回</th>
		                <th>第2回</th>
		                <th>第3回</th>
		            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="test : ${tests}">
	                <td th:text="${entYear}"></td>
	                <td th:text="${test.classNum}"></td>
	                <td th:text="${test.studentNo}"></td>
	                <td th:text="${test.studentName}"></td>
	                <td th:text="${test.no == 1 ? test.point : '---'}"></td>
	                <td th:text="${test.no == 2 ? test.point : '---'}"></td>
	                <td th:text="${test.no == 3 ? test.point : '---'}"></td>
	            </tr>
	            </tbody>
	        </table>
	    </div>
	    
	    <!-- 学生別成績の一覧 -->
        <div class="container" th:if="${isStudentSearch}">
			<!--
            <h4>氏名:<span th:text="${studentName}"></span>
            		<span th:text="${studentNo}"></span>
            </h4>
            -->
            <table class="table table-bordered">
                <thead>
	                <tr class="table-primary">
	                    <th>科目名</th>
	                    <th>科目コード</th>
	                    <th>回数</th>
	                    <th>得点</th>
	                </tr>
                </thead>
                <tbody>
                <tr th:each="test : ${tests}">
                    <td th:text="${test.subjectName}"></td>
                    <td th:text="${test.subjectCd}"></td>
                    <td th:text="${test.no}"></td>
                    <td th:text="${test.point}"></td>
                </tr>
                </tbody>
            </table>
        </div>
		
		
		
	</main>

	<br>
	<br>
	<footer th:replace="~{score/base :: footer}"></footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>