<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
	<header th:replace="~{score/base :: header}"></header>
	<aside th:replace="~{score/base :: aside}"></aside>
	
	<main>
		<div style="text-align: center;">
			<br>
			<h2>科目管理</h2>
			<a href="/main/subjects/create">新規登録</a>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h4>科目一覧</h4>
			    <table class="table table-bordered" style="box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
			        <thead>
			            <tr class="table-primary">
			                <th align="center">科目コード</th>
			                <th align="center">科目名</th>
			                <th class="non"></th>
			                <th class="non"></th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr th:each="subject : ${subjects}">
							<td th:text="${subject.subjectCd}"></td>
			                <td th:text="${subject.subjectName}"></td>
							<td><a th:href="@{/main/subjects/update(id=${subject.id})}">変更</a></td>
							<td><a th:href="@{/main/subjects/delete(id=${subject.id})}">削除</a></td>
			            </tr>
			        </tbody>
			        <tbody th:if="${subjects.isEmpty()}">
						<p>科目情報なし</p>
					</tbody>
			    </table>
			</div>
		</div>
	    
		
		<div style="text-align: center;">
			<a href="/main/home" class="btn btn-secondary">ホームに戻る</a>
			<button onclick="history.back()" class="btn btn-outline-secondary">戻る</button>
		</div>
		
	</main>

	<br>
	
	<footer th:replace="~{score/base :: footer}"></footer>
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>