<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <!-- ヘッダー -->
    <header class="bg-light py-3" style="margin-bottom: 4px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <div class="container">
            <h1 class="headline">
				<a>得点管理システム</a>
			</h1>
            <div class="text-right">
	            <span>ログインユーザー</span>
	            <a href="#">ログアウト</a>
	        </div>
        </div>
    </header>
    

    <div class="aside">
		<aside>
			<ul>
				<li><a href="/main/home">メニュー</a></li>
				<li><a href="/main/students">学生管理</a></li>
				<label>成績管理</label>
				<li><a href="#">成績登録</a></li>
				<li><a href="#">成績参照</a></li>
				<li><a href="#">科目管理</a></li>
			</ul>
		</aside>
	</div>


    <!-- フッター -->
    <footer class="bg-light py-3" style="box-shadow: 0 -2px 4px rgba(0,0,0,0.1);">
        <div class="container">
            <p class="text-center">@ 2023 TIC</p>
            <p class="text-center">もっこり学園</p>
        </div>
    </footer>
    
    

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>