<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Score Book</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
	<header th:replace="~{score/base :: header}"></header>
	<aside th:replace="~{score/base :: aside}"></aside>
	
	<main>
		<div style="text-align: center;">
			<h4>HOME</h4>
		</div>
		
		<div style="display: flex;">
		    <div style="flex: 1; margin-right: 10px;">
		        <div style="background-color: #f8f9fa; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; text-align: center; height: 100px;">
		            <a href="/main/students" style="text-decoration: none; color: #007bff; font-weight: bold;">学生管理</a>
		        </div>
		    </div>
		    <div style="flex: 1; margin-right: 10px;">
		        <div style="background-color: #f8f9fa; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; text-align: center; height: 100px;">
		            <label>成績管理</label><br>
		            <a href="#" style="text-decoration: none; color: #007bff; font-weight: bold;">成績登録</a><br>
		            <a href="#" style="text-decoration: none; color: #007bff; font-weight: bold;">成績参照</a>
		        </div>
		    </div>
		    <div style="flex: 1;">
		        <div style="background-color: #f8f9fa; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; text-align: center; height: 100px;">
		            <a href="/main/subjects" style="text-decoration: none; color: #007bff; font-weight: bold;">科目管理</a>
		        </div>
		    </div>
		</div>
		
		<br>
	</main>
	
	<footer th:replace="~{score/base :: footer}"></footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>